Repository adyoprawira/IndoXport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_lint, backend_tests, backend_docker_build, frontend_build

.gitlab-ci.yml:

stages:
  - lint
  - test
  - build
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONUNBUFFERED: "1"

cache:
  paths:
    - .cache/pip
    - frontend/node_modules/


backend_lint:
  stage: lint
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r backend/requirements.txt
    - pip install ruff
  script:
    - cd backend
    - ruff check .
  rules:
    
    - changes:
        - backend/**/*


backend_tests:
  stage: test
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r backend/requirements.txt
  script:
    - cd backend
    - python manage.py test
  rules:
    - changes:
        - backend/**/*


backend_docker_build:
  stage: build
  image: docker:26.0.0
  services:
    - docker:26.0.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    
    - docker build -t backend-test-image ./backend
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*


frontend_build:
  stage: build
  image: node:22
  before_script:
    - cd frontend
    - npm ci
  script:
    - cd frontend
    - npm run build
  rules:
    
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*


deploy_backend:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Isi perintah deploy backend lu di sini (SSH / Railway / Render / dsb)"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

[CHORE] Set Up FE SKELETON
  frontend/.gitignore
  frontend/README.md
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/tsconfig.json
Due: frontend_build

Supplier Logic and Skeleton
  backend/config/settings.py
  backend/config/urls.py
  backend/requirements.txt
  backend/suppliers/__init__.py
  backend/suppliers/admin.py
  backend/suppliers/apps.py
  backend/suppliers/brin_stub.py
  backend/suppliers/migrations/0001_initial.py
  backend/suppliers/migrations/__init__.py
  backend/suppliers/models.py
  backend/suppliers/serializers.py
  backend/suppliers/tests.py
  backend/suppliers/views.py
Due: backend_lint, backend_tests, backend_docker_build

FE for Supplier temp
  frontend/app/supplier/batches/page.tsx
Due: frontend_build

add home page
  frontend/app/Footer.tsx
  frontend/app/Navbar.tsx
  frontend/app/components/ShrimpIcon.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/IndoXportLogo.png
  frontend/public/shrimp.png
  frontend/tsconfig.json
Due: frontend_build

[feat] Implemented Buyer BE & FE
  backend/config/settings.py
  backend/config/urls.py
  frontend/__tests__/buyer-dashboard.test.tsx
  frontend/app/buyers/page.tsx
  frontend/app/page.tsx
  frontend/components/BuyerDashboard.tsx
  frontend/components/DocumentPreview.tsx
  frontend/components/RequirementCard.tsx
  frontend/components/RequirementForm.tsx
  frontend/lib/api.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/test/setup.ts
  frontend/vitest.config.ts
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

add user setting and profile
  backend/config/settings.py
  backend/config/urls.py
  backend/db.sqlite3
  backend/requirements.txt
  backend/user_settings/__init__.py
  backend/user_settings/admin.py
  backend/user_settings/apps.py
  backend/user_settings/urls.py
  backend/user_settings/views.py
  frontend/app/Navbar.tsx
  frontend/app/User Profile/page.tsx
  frontend/app/User Settings/page.tsx
  frontend/app/api/change-password/route.ts
  frontend/app/api/user/route.ts
  frontend/app/settings/page.tsx
  frontend/app/user-profile/page.tsx
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

[feat] Implemented Buyer BE
  backend/buyers/__init__.py
  backend/buyers/admin.py
  backend/buyers/apps.py
  backend/buyers/matchers.py
  backend/buyers/migrations/0001_initial.py
  backend/buyers/migrations/__init__.py
  backend/buyers/models.py
  backend/buyers/services.py
  backend/buyers/tests.py
  backend/buyers/urls.py
  backend/buyers/views.py
Due: backend_lint, backend_tests, backend_docker_build

[CHORE] benerin urls.py
  backend/config/urls.py
Due: backend_lint, backend_tests, backend_docker_build

[CHORE] update dashboard
  frontend/app/page.tsx
Due: frontend_build

[feat] Implemented more Buyer BE
  backend/buyers/migrations/0002_buyerrequirement_buyer_and_more.py
  backend/buyers/models.py
  backend/buyers/permissions.py
  backend/buyers/serializers.py
  backend/buyers/services.py
  backend/buyers/tests.py
  backend/buyers/urls.py
  backend/buyers/views.py
  backend/config/settings.py
  backend/config/urls.py
  frontend/__tests__/buyer-dashboard.test.tsx
  frontend/app/marketplace/page.tsx
  frontend/components/BuyerDashboard.tsx
  frontend/components/DocumentPreview.tsx
  frontend/components/MarketplaceExplorer.tsx
  frontend/components/RequirementCard.tsx
  frontend/components/RequirementForm.tsx
  frontend/lib/api.ts
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

[feat] Added pages
  frontend/app/about/page.tsx
  frontend/app/contact/ContactPageClient.tsx
  frontend/app/contact/page.tsx
  frontend/app/demo/page.tsx
  frontend/app/docs/page.tsx
  frontend/app/privacy/page.tsx
  frontend/app/products/page.tsx
  frontend/app/signup/SignupPageClient.tsx
  frontend/app/signup/page.tsx
  frontend/app/supplier/batches/page.tsx
  frontend/app/supplier/page.tsx
  frontend/app/terms/page.tsx
  frontend/components/SupplierBatchManager.tsx
Due: frontend_build

[feat] Added tests and coverage for buyer
  backend/.coverage
  backend/pytest.ini
  backend/requirements.txt
  backend/tests/test_buyer_views.py
  backend/tests/test_config_urls.py
  backend/tests/test_supplier_views.py
  backend/tests/test_suppliers_unit.py
  backend/tests/test_user_settings_views.py
  frontend/app/buyers/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/BuyerDashboard.tsx
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

feat: created exporter dashboard
  frontend/components/ExporterDashboard.tsx
Due: frontend_build

feat: created exporter main page
  frontend/app/exporter/page.tsx
Due: frontend_build

feat: created exporter application
  backend/exporter/__init__.py
  backend/exporter/admin.py
  backend/exporter/apps.py
  backend/exporter/migrations/0001_initial.py
  backend/exporter/migrations/__init__.py
  backend/exporter/models.py
  backend/exporter/serializers.py
  backend/exporter/tests.py
  backend/exporter/urls.py
  backend/exporter/views.py
Due: backend_lint, backend_tests, backend_docker_build

feat: imported the app in settings.py and also add the url in urls.py
  backend/config/settings.py
  backend/config/urls.py
Due: backend_lint, backend_tests, backend_docker_build

feat: changed the navbar to reflect the current implementation
  frontend/app/Navbar.tsx
Due: frontend_build

feat: added the exporter api and dummy data
  frontend/lib/api.ts
Due: frontend_build

authlogreg don
  backend/config/settings.py
Due: backend_lint, backend_tests, backend_docker_build

don urls
  backend/config/urls.py
Due: backend_lint, backend_tests, backend_docker_build

don
  backend/accounts/__init__.py
  backend/accounts/admin.py
  backend/accounts/apps.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/__init__.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/tests.py
  backend/accounts/urls.py
  backend/accounts/views.py
Due: backend_lint, backend_tests, backend_docker_build

don
  frontend/app/login/page.tsx
Due: frontend_build

don pls
  frontend/app/register/page.tsx
Due: frontend_build

remove shrimp image
  frontend/app/page.tsx
Due: frontend_build

fix user profile
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/db.sqlite3
Due: backend_lint, backend_tests, backend_docker_build

[fix] Fixing buyer stuff
  backend/db.sqlite3
  frontend/app/buyers/page.tsx
  frontend/app/page.tsx
  frontend/components/BuyerDashboard.tsx
  frontend/components/DocumentPreview.tsx
  frontend/components/RequirementCard.tsx
  frontend/lib/api.ts
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

fix photo profile
  backend/accounts/migrations/0002_userprofile_photo.py
  backend/accounts/models.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/db.sqlite3
  backend/requirements.txt
Due: backend_lint, backend_tests, backend_docker_build

docs: Added readme step by step guide
  README.md
Due: none

[fix] Fixing FE stuff
  backend/db.sqlite3
  frontend/app/demo/page.tsx
  frontend/components/BuyerDashboard.tsx
  frontend/components/MarketplaceExplorer.tsx
  frontend/components/RequirementCard.tsx
Due: backend_lint, backend_tests, backend_docker_build, frontend_build

fix photo profile
  frontend/app/Navbar.tsx
  frontend/app/User Profile/page.tsx
  frontend/app/User Settings/page.tsx
  frontend/app/api/user/route.ts
  frontend/app/login/page.tsx
  frontend/app/register/page.tsx
  frontend/app/settings/page.tsx
  frontend/app/user-profile/page.tsx
Due: frontend_build

[fix] Fixing dependency version
  frontend/package.json
Due: frontend_build

[fix] Fixing dependency version
  frontend/app/settings/page.tsx
  frontend/package-lock.json
Due: frontend_build

[fix] Fixing package.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build

chore: remove package-lock to fix Tailwind oxide on Vercel
  frontend/package-lock.json
Due: frontend_build
